
/* AddOffer page */

.add-offer-container {
    width: 700px;
    margin-bottom: 30px;
}

.salary-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    font-size: inherit;
}

.salary-input {
    width: calc(100% - 6.5em);
}

.salary-select {
    width: 5.8em;
    color: var(--gray);
}

.add-offer-form {
    padding-bottom: 2em;
}

@media only screen and (max-device-width: 430px) {

    .add-offer-container {
        width: 100%;
    }

    .add-offer-form {
        font-size: 3em;
    }

    .salary-input {
        width: calc(100% - 5.5em);
    }

    .salary-select {
        width: 5em;
    }
}