/* Offer page */

.offer-container {
    width: 1000px;
}

.offer-icon {
    width: 40px;
    height: 40px;
}

.offer-heading-text-container {
    display: flex;
    flex-direction: column;
}

.job-title {
    font-size: 22px;
}

.company-name {
    font-size: 13px;
    color: var(--gray);
}

.offer-content-container {
    display: flex;
    padding: 0 70px;
    align-items: flex-start;
}

.offer-desc-container {
    flex: 2;
    margin: 0 20px;
}

.offer-requirements {
    margin: 30px 0;
    min-height: 300px;
}

.offer-desc {
    margin: 30px 0;
    min-height: 200px;
}

.offer-crucial-info {
    flex: 1;
    height: auto;
    margin: 30px 10px;
    min-height: 200px;
}

.offer-content-heading {
    margin: 0 30px;
    padding: 15px 0;
    font-weight: bold;
}

.padding-0 {
    padding: 0;
}

.offer-line {
    border-color: var(--light-purple);
}

.offer-text-content {
    margin: 0 30px 20px;
    white-space: pre-wrap;
}

.crucial-content-container {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    margin: 15px 0;
}

.salary-text {
    font-size: 26px;
}


@media only screen and (max-device-width: 420px) {


}