@import "variables.css";

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    margin: 80px 70px 40px;
}

.heading-content {
    padding-left: 15px;
    display: flex;
    gap: 15px;
    font-size: 20px;
    align-items: center;
}

.heading-line {
    border: 0;
    border-top: 1px solid var(--purple);
}

.icon {
    width: 23px;
    height: 23px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-container {
    width: 1000px;
    max-width: 100%;
    min-height: 700px;
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(112, 54, 208, 0.25);
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

.content-background {
    border: 1px solid rgba(157, 137, 179, 0.11);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
    padding: 10px;
}

.jc-start {
    justify-content: start;
}

.smaller-text {
    font-size: 14px;
    color: var(--gray);
    font-weight: normal;
}

.tags-title {
    margin: 25px 0 10px;
}

.tags-content {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: normal;
}

.tag {
    border: 1px solid rgba(112, 54, 208, 0.15);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: var(--light-pink);
    color: var(--purple);
    padding: 5px 10px;
}

/* Form */

.button {
    box-sizing: border-box;
    width: 150px;
    height: 50px;
    background: linear-gradient(180deg, rgba(112, 54, 208, 0.4) 0%, rgba(112, 54, 208, 0.7) 100%);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), inset 0 1px 4px rgba(112, 54, 208, 0.8);
    border: 0;
    border-radius: 10px;
    color: var(--white);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 27px;
}

.input {
    padding-left: 15px;
    width: calc(300px - 15px);
    height: 50px;

    background: var(--white);
    border: 1px solid rgba(157, 137, 179, 0.11);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input:focus-visible {
    outline: 1px solid var(--purple);
}

.textarea {
    padding: 15px;
    min-width: 485px;
    max-width: 600px;
    min-height: 100px;
    height: 200px;
    max-height: 500px;

    background: var(--white);
    border: 1px solid rgba(157, 137, 179, 0.11);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.11);
    border-radius: 10px;
}

.textarea:focus-visible {
    outline: 1px solid var(--purple);
}


/* Login & Register page */

.login-container {
    width: 700px;
    min-height: 500px;
    border-radius: 10px;
    padding-bottom: 20px;
}


@media only screen and (max-device-width: 420px) {

    .container {
        background-color: var(--white);
    }

    .content-container {
        background-color: var(--white);
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .heading-container {
        margin: 50px 30px;
    }

    .heading-content {
        font-size: 2.5rem;
        gap: 2rem;
        padding-left: 1.5rem;
    }

    .heading-line {
        border-width: 2px;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }

    .smaller-text {
        font-size: 1.5rem;
    }

    .tag {
        font-size: 2.2rem;
        padding: 10px 20px;
        border-radius: 10px;
    }
}