@import "variables.css";

html, body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--light-pink);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading-container {
    margin: 80px 70px 40px;
}

.heading-content {
    font-size: 1.3em;
    gap: 1em;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
}

.heading-line {
    border: 0;
    border-top: 1px solid var(--purple);
}

.icon {
    width: 1.5em;
    height: 1.5em;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.content-container {
    width: 1000px;
    max-width: 100%;
    min-height: 700px;
    background-color: var(--white);
    box-shadow: 0 4px 4px rgba(112, 54, 208, 0.25);
    border-radius: 0 0 10px 10px;
    margin-bottom: 10px;
}

.content-background {
    border: 0.1em solid rgba(157, 137, 179, 0.11);
    box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.11);
    border-radius: 0.5em;
    padding: 0.5em;
}

.jc-start {
    justify-content: start;
}

.smaller-text {
    font-size: 0.7em;
    color: var(--gray);
    font-weight: normal;
}

.tags-title {
    margin: 25px 0 10px;
}

.tags-content {
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    font-weight: normal;
}

.tag {
    border: 0.1em solid rgba(112, 54, 208, 0.15);
    box-shadow: 0px 0.1em 0.2em rgba(0, 0, 0, 0.1);
    border-radius: 0.25em;
    background-color: var(--light-pink);
    color: var(--purple);
    padding: 0.25em 0.5em;
}

.red-tag {
    background-color: var(--light-red);
    color: var(--white);
    font-size: 0.8em;
}

.button-tag:hover {
    cursor: pointer;
    background-color: var(--red);
}

/* Form */

.button {
    box-sizing: border-box;
    min-width: 9em;
    min-height: 3em;
    background: linear-gradient(180deg, rgba(112, 54, 208, 0.4) 0%, rgba(112, 54, 208, 0.7) 100%);
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25), inset 0 0.1em 0.2em rgba(112, 54, 208, 0.8);
    border: 0;
    border-radius: 0.5em;
    color: var(--white);
    font-size: 1em;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.input {
    padding: 1.3em 1em;
    width: 90%;

    background: var(--white);
    border: 0.1em solid rgba(157, 137, 179, 0.11);
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.11);
    border-radius: 0.5em;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input:focus-visible {
    outline: 0.1em solid var(--purple);
}

.no-valid {
    color: var(--light-red);
    outline: 0.1em solid var(--light-red);
    font-weight: bolder;
}

.no-valid:focus-visible {
    outline: 0.1em solid var(--light-red);
}

.multiple-option {
    padding: 0.5em;
    border-radius: 0.3em;
    margin: 0.1em;
}

.multiple-option:checked {
    box-shadow: 0 0 10px 100px var(--light-purple) inset;
}

.multiple-input {
    padding: 0.4em;
}

.textarea {
    font-size: inherit;
    padding: 1em 0 1em 1em;
    margin: 0 1em;
    min-width: 90%;
    max-width: 90%;
    min-height: 4em;
    height: 8em;
    max-height: 15em;

    background: var(--white);
    border: 0.1em solid rgba(157, 137, 179, 0.11);
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.11);
    border-radius: 0.5em;
}

.textarea:focus-visible {
    outline: 0.1em solid var(--purple);
}


/* Login & Register page */

.login-container {
    width: 700px;
    min-height: 500px;
    border-radius: 10px;
    padding-bottom: 20px;
}


@media only screen and (max-device-width: 430px) {

    .container {
        background-color: var(--white);
        justify-content: flex-start;
    }

    .content-container {
        width: 100%;
        background-color: var(--white);
        box-shadow: none;
        border-radius: 0;
        margin-bottom: 0;
    }

    .heading-container {
        margin: 50px 30px;
    }

    .heading-content {
        font-size: 3em;
        margin-bottom: 0.5em;
    }

    .tag {
        font-size: 2.2rem;
        padding: 10px 20px;
        border-radius: 10px;
    }

    .input {
        font-size: 1em;
    }

    .form {
        font-size: 2.5em;
    }

    .login-container {
        margin-top: 3em;
    }
}